
body {
    background-image: url("../images/news4.jpg")
}

.jumbotron {
    background-color: rgb(229, 226, 226);
    min-width: 100%;
    border: dotted darkgray;
    margin-top: 100px;
}

h1 {
    font-weight: bold;
    color: rgba(169, 169, 169, 0.384)
}

#navbar {
    font-size: 30px;
    margin-left: 60px;
}

.navbar {
    background-color: rgb(229, 226, 226);
    margin-bottom: 30px;
}

.navbar-brand {
    font-size: 40px;
    background-color: black;
    color: white;
    border: dotted gray;
    height: 60px;
}

.navbar-header {
    color: white;
    height: 50px;
    background-color: lightgray;
}

#scrape {
    font-size: 30px;
    margin-left: 100px;
    background-color: slategray;
    color: white;
}